* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("/images/bg.png");

  background-repeat: no-repeat;
  background-size: cover;
  color: #272f37;
  font-size: 16px;
  padding: 100px 0;
}
p {
  color: #2b343d;
  font-size: medium;
  text-align: center;
}
.app-container {
  /*   background: linear-gradient(to bottom right, white, #d1dcde); */
  background-color: transparent;

  width: 900px;
  height: 650px;
  margin: 0 auto;
}
.search-info {
  color: #272f37;
  margin: 15px;
}
.search-info ul {
  width: 300px;
}
.search-info li {
  list-style: none;
  display: inline;
  padding-right: 5px;
}
.search-container {
  margin: 30px;
}
.cities {
  font-size: 20px;
  font-weight: 500;
  color: #2b343d;
  text-decoration: none;
}
.search-box {
  margin: 60px 0 30px 20px;
  padding: 10px;
  width: 300px;
}
.search-btn {
  display: block;
  text-align: left;
  position: relative;
  left: 22px;
  background-color: #272f37;
  color: white;
}
.search-btn:hover {
  background-color: white;
  color: #272f37;
}

.show-info {
  padding-top: 60px;
  width: 300px;
  height: 400px;
}
.card-view {
  width: 250px;
  height: 300px;
  text-align: center;
}
.futureInfo {
  margin: 20px;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text-temp {
  font-size: 100px;
  font-weight: 600;

  color: #1b332d;
}
.icon-temp {
  font-size: 50px;
  font-weight: 600;
  color: #1b332d;
}

.weekdays {
  font-size: 18px;
  font-weight: 600;
  color: #2b343d;
}
.days-icon {
  font-size: 30px;
  color: white;
}

.tempeture div {
  font-weight: bold;
}
.unit {
  color: #272f37;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}
.unit a {
  text-decoration: none;
  color: #272f37;
}

a:hover {
  color: #c3982e;
}

.gitLink a {
  color: #2b343d;
  font-size: large;
  text-decoration: none;
}
.gitLink a:hover {
  color: #96aed1;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  body {
    background: white;
  }
}
